<%- include('./partials/header.ejs') %>
        <main>
            <div class="details">
                <h1 class="title"> Details de <%= pokemon.nom %> </h1>
                <div class="pokemon">
                    <div class="pokemon__photo">
                        <img src="/img/<%= pokemon.numero %>.png" alt="<%= pokemon.nom %>">
                    </div>
                    <div class="pokemon__details">
                        <h2> #<%= pokemon.numero %> <%= pokemon.nom %> </h2>
                        <div class="pokemon__details-type">
                            <% for (let type of types) { %>
                                <p class="type-label" style='background-color: #<%= type.color %>'> <%= type.name %> </p>
                            <% } %>
                        </div>
                        <h3>Statistiques</h3>
                        <div class="pokmon__details-stats">
                            <div class="stat">
                                <p> PV </p>
                                <p> <%= pokemon.pv %> </p>
                                <div class="range">
                                    <div class="range-full" style="width:<%= pokemon.attaque * 100 / 255 %>%"></div>
                                    <div class="range-empty"></div>
                                </div>
                            </div>
                            <div class="stat">
                                <p> Attaque </p>
                                <p> <%= pokemon.attaque %> </p>
                                <div class="range">
                                    <div class="range-full" style="width:<%= pokemon.attaque * 100 / 255 %>%"></div>
                                    <div class="range-empty"></div>
                                </div>
                            </div>
                            <div class="stat">
                                <p> Défense </p>
                                <p> <%= pokemon.defense %> </p>
                                <div class="range">
                                    <div class="range-full" style="width:<%= pokemon.defense * 100 / 255 %>%"></div>
                                    <div class="range-empty"></div>
                                </div>
                            </div>
                            <div class="stat">
                                <p> Ataque spé </p>
                                <p> <%= pokemon.attaque_spe %> </p>
                                <div class="range">
                                    <div class="range-full" style="width:<%= pokemon.attaque_spe * 100 / 255 %>%"></div>
                                    <div class="range-empty"></div>
                                </div>
                            </div>
                            <div class="stat">
                                <p> Défense spé </p>
                                <p> <%= pokemon.defense_spe %> </p>
                                <div class="range">
                                    <div class="range-full" style="width:<%= pokemon.defense_spe * 100 / 255 %>%"></div>
                                    <div class="range-empty"></div>
                                </div>
                            </div>
                            <div class="stat">
                                <p> Vitesse </p>
                                <p> <%= pokemon.vitesse %> </p>
                                <div class="range">
                                    <div class="range-full" style="width:<%= pokemon.vitesse * 100 / 255 %>%"></div>
                                    <div class="range-empty"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <a class="link-to-index" href="/"> Revenir à la liste </a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>